[package]
name = "noire"
version = "0.1.0"
authors = ["Sebastian Ziebell"]
keywords = ["noire", "gl", "3d", "graphics"]
repository = "https://github.com/justahero/noire-rs.git"

[[example]]
name = "triangles"
path = "examples/triangles/main.rs"

[[example]]
name = "raymarching"
path = "examples/raymarching/main.rs"

[[example]]
name = "filewatch"

[dependencies]
cgmath = "0.17.0"
regex  = "1.1.6"
glfw   = "0.28.0"
gl     = "0.12.0"
notify = "4.0.11"
